.header {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}
.header .logo {
  width: 270px;
  height: 130px;
  background-image: url("../asset/image/ngao.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 30%;
  cursor: pointer;
}
.header .logo:active {
  -webkit-transform: rotateZ(-15deg);
  transform: rotateZ(-15deg);
}
.hanh-tinh {
  margin: 30px 0;
  -webkit-transition: margin 0.4s ease-in-out;
  transition: margin 0.4s ease-in-out;
}
.hanh-tinh > .wrapper {
  margin: auto;
  max-width: 700px;
  padding: 0 15px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
}
.hanh-tinh > .wrapper .decorate {
  width: 100%;
  cursor: pointer;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
.hanh-tinh > .wrapper .decorate img {
  width: 100%;
}
.hanh-tinh > .wrapper .decorate:hover {
  opacity: .95;
}
.hanh-tinh > .wrapper .decorate:active {
  opacity: 1;
}
.hanh-tinh > .wrapper .literal {
  margin: 5px 0;
  max-width: 320px;
  display: none;
}
.hanh-tinh > .wrapper .literal > .wrapper {
  width: 100%;
}
.hanh-tinh > .wrapper .literal > .wrapper .title {
  width: 100%;
}
.hanh-tinh > .wrapper .literal > .wrapper .content {
  width: 100%;
  margin: 5px 0;
}
.hanh-tinh > .wrapper .literal > .wrapper .tags {
  list-style: none;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}
.hanh-tinh > .wrapper .literal > .wrapper .tags li:before {
  content: "#";
}
.hanh-tinh > .wrapper .literal > .wrapper .tags li a,
.hanh-tinh > .wrapper .literal > .wrapper .tags li a:link {
  text-decoration: none;
}
