.hidden {
  display: none;
}
.quiet {
  opacity: .6;
}
.pseudo-toggle-button:checked + .hanh-tinh {
  margin: 5px 0;
}
.pseudo-toggle-button:checked + .hanh-tinh .decorate {
  max-width: 320px;
}
.pseudo-toggle-button:checked + .hanh-tinh .literal {
  display: block;
}
