---
layout: post-default
---
<section class="hanh-tinh planet">
    <div class="wrapper">
        <label for="{{ page.year }}-{{ page.month }}-{{ page.day }}-{{ page.hour }}-{{ page.minute }}-{{ page.second }}-{{ page.id }}" class="decorate">
            <img src="/nhung-dieu-be-nho/{{ page.imgUrl }}" alt="{{ page.imgAlt }}" />
        </label>
        <article class="literal">
            <div class="wrapper">
                <h3 class="title">{{ page.title }}</h3>
                <p class="content">{{ page.content }}</p>
                <ul class="tags">
                {% for tag in page.tags %}
                  <li><a href="#">{{ tag }}</a></li>
                {% endfor %}
                </ul>
            </div>
        </article>
    </div>
</section>
